.center{
    display:block;
    margin-left:auto;
    margin-right:auto;
}
 p{
     text-align: center;
 }

 .pfont{
    font-family: 'Montez', cursive;
 }

 .spancolor{
     background-color: aliceblue;
 }

 body{
     background-color:aliceblue;
 }